.box1{
    background-color:rgb(241, 141, 158);
    width:400px;
    height:190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid black;
}


.box2{
    background-color: rgb(167, 108, 223);
    width:400px;
    height:190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid black;
}