body{
    width:100%;
    height:100vh;
    background-image: linear-gradient(to bottom,rgb(116, 116, 173),pink);
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.style{
    text-align: center;
    text-shadow:3px 3px 2px yellow;
}
.main{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}